<form action="/students/<%= @student.id %>" method="post">
  <label for="first-name-field">First Name:</label>
    <input id = "first-name-field" type="text" name="first_name" value="<%= @student.first_name %>"/>

  <label for="second-name-field">Last Name:</label>
    <input id = "second-name-field" type="text" name="second_name" value="<%= @student.second_name %>"/>

  <label for="house-selection">Select a House:</label>
    <select id="house-selection" name="house_id">
      <% for house in @houses %>
      <option value= <%= house.id %> <%= "selected" if @student.house.name == house.name %>><%= house.name %></option>
      <% end %>
    </select>

  <label for="age-field">Age</label>
    <input id = "age-field" type="number" name="age" value="<%= @student.age %>"/>

  <input type="submit" name="Edit Student"/>

</form>
